#container {
    width: 100%;
    min-height: 97vh;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

    background-color: brown;
}

#water {
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: aqua;
}

